.button{
  width: 50%;
  border-radius: 50px 50px 0px 0px;
  background-color: rgb(228 228 231);
  border: none;
}
:hover.button{
  background-color: rgb(212 212 216);
}

.active-button {
    background-color: rgb(30 58 138);
    color: white;
  }
:hover.active-button{
  background-color: rgb(30 64 175);
}